@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes splash {
    0% {
      transform: scale(0);
      opacity: 0.8;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  .animate-splash {
    animation: splash 1s ease-out forwards;
  }
}

